
#form-appointment{
  padding-top: 350px;
  padding-bottom: 400px;
}

#appointment{
  padding-top: 60px;
}

h3{
  color: #004861;
  margin-bottom: 30px;
  font-size: 2.625rem;
  font-weight: 700;
  letter-spacing: -0.25px;
  text-align: left;
  
}

h5{
  color: #00a3c8;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: left;
}

* {
  font-size: 16px;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder{
color: #999;
opacity: 1;
} 

button:hover{
  opacity: .8;
}

button:active {
  opacity: .5;
}

.form-container {
  width: 600px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.steps {
  margin-bottom: 15px;
  position: relative;
  height: 25px;
}

.steps > div {
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  height: 25px;
  padding: 0 5px;;
  display: inline-block;
  width: 200px;
  text-align: center;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.steps > div > span {
  line-height: 25px;
  height: 25px;
  margin: 0;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 300;
}

.steps > div > .liner {
  position: absolute;
  height: 2px;
  width: 0%;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background: #999;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.step-one {
  left: 0;
}

.step-two {
  left: 33.33%;
  clip: rect(0, 0px, 25px, 0px);
}

.step-three {
  left: 66.66%;
  clip: rect(0, 0px, 25px, 0px);
}
.step-fourth {
  left: 100%;
  clip: rect(0, 0px, 100px, 0px);
}

.line {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: relative;
  border-radius: 10px;
  overflow: visible;
  margin-bottom: 50px;
}

.line .dot-move {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.line .dot {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  left: 0;
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translate(-50%, -50%) scale(.5);
  -ms-transform: translate(-50%, -50%) scale(.5);
  transform: translate(-50%, -50%) scale(.5);
}

.line .dot.zero {
  left: 0%;
  background: #bbb;
}

.line .dot.first {
  left: 33.33%;
  background: #bbb;
}

.form-container.slider-one-active .dot.zero {
  background: #5892fc;
}

.line .dot.center {
  left: 66.66%;
  background: #bbb
}

.line .dot.full {
  left: 100%;
  background: #bbb
}

.slider-ctr {
  width: 100%;
  overflow: hidden;
}

.slider {
  overflow: hidden;
  width: 2400px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translate(0px) scale(1);
  -ms-transform: translate(0px) scale(1);
  transform: translate(0px) scale(1);
}

.form-container.slider-one-active .slider-two,
.form-container.slider-one-active .slider-three,
.form-container.slider-one-active .slider-fourth {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.form-container.slider-two-active .slider-one,
.form-container.slider-two-active .slider-three,
.form-container.slider-two-active .slider-fourth {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.form-container.slider-three-active .slider-one,
.form-container.slider-three-active .slider-two,
.form-container.slider-three-active .slider-fourth {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.form-container.slider-fourth-active .slider-one,
.form-container.slider-fourth-active .slider-two,
.form-container.slider-fourth-active .slider-three {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.slider-one,
.slider-two,
.slider-three,
.slider-fourth {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.slider-form {
  float: left;
  width: 600px;
  text-align: center;
}

.slider-form h2 {
  font-size: 1.0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 35px;
  color: #999;
  position: relative;
}

.slider-form h2 .yourname {
  font-weight: 400;
}

.slider-form h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.5;
  color: #999;
  position: relative;
}

.drop-interested {
  background-color: #fff;
  border: 2px solid #ddd;
  color: #999;
  height: 45px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding: 4px 15px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.country{
  padding-right: 116px;
  padding-left: 20px;
}
.phone-type{
  padding-right: 90px;
  padding-left: 20px;

}
.insurance{
  padding-right: 50px;
  padding-left: 50px;
}
.message {
  padding: 20px 15px;
  min-height: 160px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
}

.slider-form [type="text"]:focus {
  background: #fcfcfc;
  border: 1px solid #ddd;
}

.slider-form button {
  display: inline-block;
  text-decoration: none;
  background: #5892fc;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
  margin-top: 15px;
}

/*  first */

.form-container.first .line .dot-move {
  left: 33.33%;
  -webkit-animation: .3s anim 1;
}

.form-container.first .line .dot.first {
  background: #5892fc;
}

.form-container.first .slider {
  -webkit-transform: translate(-600px);
  -ms-transform: translate(-600px);
  transform: translate(-600px);
}

.form-container.first .step-two {
  clip: rect(0, 200px, 25px, 0px);
}

/*  second*/

.form-container.center .line .dot-move {
  left: 66.66%;
  -webkit-animation: .3s anim 1;
}

.form-container.center .line .dot.center {
  background: #5892fc;
}

.form-container.center .slider {
  -webkit-transform: translate(-1200px);
  -ms-transform: translate(-1200px);
  transform: translate(-1200px);
}

.form-container.center .step-two,
.form-container.center .step-three {
  clip: rect(0, 200px, 25px, 0px);
}

/*  full */

.form-container.full .line .dot-move {
  left: 100%;
  -webkit-animation: .3s anim 1;
}

.form-container.full .line .dot.full {
  background: #5892fc;
}

.form-container.full .slider {
  -webkit-transform: translate(-1200px);
  -ms-transform: translate(-1200px);
  transform: translate(-1800px);
}

.form-container.full .step-two,
.form-container.full .step-three,
.form-container.full .step-fourth {
  clip: rect(0, 200px, 25px, 0px);
}
