#external-links{
    position: relative;
    margin-top: -120px;
    z-index: 99;
    padding-bottom: 160px;
}
.h4-emergency{
    margin-top:50px;
    margin-left:30px;
    color: rgb(5, 165, 214);
}
.clock{
    margin-right: 15px;
    margin-left:30px;
    width: 40px;
    fill: rgb(5, 165, 214);
}

.abox-2-holder{
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px;
}
.abox-2-holder h5{
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #004861;
    font-size: 1.25rem;
    margin-bottom: 30px;
    line-height: 1;
}
.abox-2-holder p{
    font-size: 0.925rem;
    margin-bottom: 0;
}
.btn-external-links{
    font-size: 0.78125rem;
    line-height: 1;
    padding: 10px 20px;
    color: #fff;
    background-color: #00a3c8;
    border-color: #00a3c8;
    font-weight: 400;
    letter-spacing: 0.25px;
    border: 2px solid transparent;
    margin-top: 25px;
}
.btn-external-links:hover{
    background-color: #1c859c;
    color: white;
}

#service{
    padding-top: 160px;
    padding-bottom: 160px;
}
.title-services{
    padding-bottom: 60px;
}
.title-posts{
    color: #888;
    padding: 0 20%;
    margin-bottom: 0;
    font-size: 1rem;
    text-align: center;
}
.h3-title{
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #004861;
    font-size: 2.625rem;
    line-height: 1;
}
#service h5{
    font-size: 1.05rem;
    line-height: 1;
    font-weight: 900;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #004861;
}
#service p{
    font-size: 0.925rem;
    margin-bottom: 0;
}
#service a:hover{
    color:transparent;
}

.welcome-background{
    padding-top: 100px;
    padding-bottom: 0;
    background-color: #f8f9fb;
}
.welcome-text{
    padding-bottom: 60px;
}
.welcome-read-more-text{
    display: none;
}
.welcome-title{
    font-size: 0.825rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
    color: #00a3c8;
}
#welcome h2{
    margin-bottom: 30px;
    font-size: 2.625rem;
    color: #004861;
    font-weight: 700;
    letter-spacing: -0.25px;

}
#welcome a{
    color:#00a3c8;
}
#welcome a:hover{
    color: #00a3c8;
}

.ceo-block{
    margin-top: 60px;
}
.ceo-info{
    margin-top: 10px;
    font-size: 0.75rem;
}
.ceo-info h5{
    font-size: 0.90rem;
    margin-top: 0px;
    margin-bottom: 5px;
}
.ceo-info p{
    margin-bottom: 5px;
}
.ceo-img{
    width: 60px;
    height: auto;
}

#recent-posts{
    background-color: #f8f9fb;
    padding-top: 100px;
    padding-bottom: 100px;
}
#recent-posts .posts-card{
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    min-height: 100%;
}
#recent-posts .posts-card img{
    border-radius: 5px 5px 0 0;
}

#recent-posts .posts-card-data{
    padding: 10px;
}
.posts-links{
    color: #004861;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;
    margin-bottom: 15px;
    font-size: 1.1875rem;
    display: inline-block;
}
.posts-links:hover{
    color:#00a3c8;
}
.posts-read-more-text{
    display: none;
}

#larkin-network{
    padding-top: 100px;
    padding-bottom: 160px;
}
.pills-network{
    margin:0px auto 60px;
    text-align: center;
}

/*.pills-network li{
    margin-bottom: 20px;
}

.pills-network li a{
    border: 1px solid #00a3c8 !important;
}*/
.pills-network a{
    background-color: transparent;
    border: 1px solid transparent;
    color: rgb(167, 166, 166);
    font-size: 1rem;
    font-weight: 400;
    padding: 18px 35px;
    margin-right: 15px;
    border-radius: 6px
}
.pills-network a:hover{
    background-color:  rgba(223, 217, 217, 0.404);
    color:rgb(136, 135, 135);
    border: 1px solid transparent;
    border-radius: 6px;
}
.pills-network a.active{
    background-color: #00a3c8!important;
    border-color: #00a3c8;
    color: #fff;
    border-radius: 6px;
}
.logo-gris{
    width: 25px;
    height: auto;
    padding-bottom: 3px;
}
.logo-gris1{
    width: 25px;
    height: auto;
    margin-right: 5px;
    padding-bottom: 3px;
}
.nav-fill .nav-item, .nav-fill > .nav-link {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}
#university{
    padding-top: 200px;
    padding-bottom: 60px;
    color: #fff;
}
.background-univ{
    background-image: url(../images/banner-2.jpg);
    position: relative;
    z-index: 1;
    background-attachment: fixed !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-univ{
    text-align: center;
    margin-top: -80px;
    position: relative;
    z-index: 999;
}
.btn-univ{
    color: #ffffff;
    background-color: transparent;
    border-color: #fff;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid;
    border-radius: 6px;
}
.btn-univ:hover{
    background: white;
    color: black;
    border-color: #fff;
}
#university h3{
    font-weight: 700;
    letter-spacing: -0.25px;
    font-size: 2.75rem;
}
#university p{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 1rem;
}

#education{
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 160px;
}
.links{
    padding-top: 40px;
}
.link-edu{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
    color: #004861;

}
.link-edu:hover{
    color: #00a3c8;
}
#education h6{
    font-size: 0.825rem;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
    color: #00a3c8;
}
#education h2{
    margin-bottom: 30px;
    font-size: 2.625rem;
    color: #004861;
    font-weight: 700;
    letter-spacing: -0.25px;
}
#education p{
    margin-bottom: 30px;
    font-size: 1rem;
}
#education i{
    color: #004861;
}

#careers{
    width: 100%;
    overflow: hidden;
    background-color: #00a3c8;
    color: white;
}
.btn-careers{color: #ffffff;
    background-color: transparent;
    border-color: #fff;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid;
    border-radius: 6px;
    transition: all 450ms ease-in-out;
    margin-top: 50px;
}
.btn-careers:hover{
    background: white;
    color: black;
    border-color: #fff;
}
.block-careers{
    padding-right: 30px;
    padding-left: 30px;
}
.h3-careers{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 2.625rem;
    font-weight: 700;
    letter-spacing: -0.25px;
}
.span-car{
    font-size: 0.825rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

#patients{
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 60px;
    color: white;
    position: relative;
}
.block-patients{
    background-color: #00a3c8;
    padding: 50px 60px;
    border-radius: 6px;
    position: relative;
    margin-right: -125px;
    z-index: 3;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
}
.h4-patients{
    margin-bottom: 25px;
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.25px;
}
.links-patients{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 0px 25px 0px;
}
.links-patients a{
    color:white;
    margin-bottom: 15px;
    display:inline-block;
}
.img-patients{
    background-image: url(../images/info-8.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
    left: 40%;
}
.links{color: white;}
.links:hover{color: white;}


#banner{
    background-image: url(../images/banner-back.jpg);
    padding-top: 30px;
}
.banner-section{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner-section .container{
    position: relative;
    z-index: 3;
}
.img-banner{
    margin-left: -20px;
    text-align:center;
}
.img-banner img{
    position: relative;
    max-width: none;
    display: inline-block;
}
.banner-left{
    margin-top: -60px;
    margin-bottom: 40px;
}
.banner-left h5{
    font-size: 0.85rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #004861;
}
.banner-left h2{
    font-size: 4.5rem;
    letter-spacing: -0.5px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #004861;
}
.links-banner a{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.25rem;
    color:#004861;
    text-shadow: 1px 1px  #c6c9caad;
}
.links-banner a:hover{
    background-color: transparent;
    color: #004861;
}
.links-marketing a{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.25rem;
    color:white;
    text-shadow: 0.3px 0.3px  #c6c9caad;
}
.links-marketing a:hover{
    background-color: transparent;
    color: white;
}
#banner-marketing{
    background-image: url("../images/degradado.jpg");
    background-color: #00a3c8;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.marketing{
    color: white;
    text-shadow: 0.3px 0.3px  #c6c9caad;
}
.marketing h2{
    line-height: 1.25;
    letter-spacing: 0;
    margin-bottom: 40px;
    font-size: 3.25rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.links-banner p{
    margin-bottom: 5px;
}
.marketing a{
    font-size: 1rem!important;
}

@media (max-width: 991px){
    .welcome-text{
        order: 1;
    }
    .welcome-image{
        order: 2;
        padding-top: 30px;
    }
    .pay-bill-btn{
        margin-top: 45px;
    }
    .clock{
        width:25px;
        height: auto;
        margin: 0px 2px 3px 0px;

    }
    .h4-emergency{
        font-size: 1.2rem;
    }
    #navbarSupportedContent{
        display: block !important;
        width: 250px;
        padding: 0;
        box-shadow: 6px 0 5px rgba(0, 0, 0, 0.17);
        position: fixed;
        top: 0;
        left: -350px;
        z-index: 99999;
        height: 100%;
        background: #ffffff;
        transition: all .5s ease;
    }
    #navbarSupportedContent.show{
        left: 0;
    }
    .posts-mvl{
        margin-bottom: 20px;
        min-height: 100%;
    }
    #navbarSupportedContent.show ul a{
        margin: 0;
        padding: 10px 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.13);
        line-height: 34px;
        text-align: left;
    }
    #navbarSupportedContent.show ul li:first-child a{
        border-top: none;
    }
    li.mk-appointment a{
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    #navbarSupportedContent.show .dropdown-menu{
        border: none;
        margin: 0 !important;
        padding: 0 !important;
    }
    #navbarSupportedContent.show .dropdown-menu a{
        padding-left: 30px;
        font-size: 13px;
    }
    .btn-careers{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .span-car{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .h3-careers{
        margin-bottom: 20px;
    }
    #recent-posts .col-xl-3{
        margin-bottom: 20px;

    }
    .nav-fill .nav-item, .nav-fill > .nav-link {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;

    }
}

@media (max-width: 767px){
    #banner{
        text-align: center;
        padding-top: 80px;
        padding-bottom: 0;
    }
    .banner-left h2{
        font-size: 2.5rem;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }
    .links-banner a{
        font-size: 1.075rem;
        padding: 0 5%;
    }
    .banner-left h5{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .img-banner{
        background-position: top center;
        position: relative;
        left: 0;
        height: 350px;
        width: auto!important;
        margin-top: 60px;
    }
    #external-links{
        margin-top: -80px;
        padding-bottom: 60px;
    }
    .abox-2-holder{
        padding: 15px 0px 15px 0px;
    }
    .external-mvl{
        padding: 25px 20px 25px 20px;
    }
    #banner-marketing{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 0;
    }
    .marketing h2{
        font-size: 2.5rem;
        letter-spacing: 0.5px;
        margin-bottom: 30px;
    }
    .links-banner{
        display:inline-block;
        text-align: left;
        font-size: 0.80rem!important;
        padding-bottom: 50px;
    }
    .links-banner a{
        display:inline-block;
        padding:0px;
        font-size: 0.80rem!important;
    }
    #service{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #service h5{
        margin: 15px 0px 10px 0px;
    }
    #service p{
        margin: 0px 0px 15px 0px;
    }
    .welcome-title{
        margin-top: 20px;
    }
    #larkin-network{
        box-sizing: border-box;
        padding: 60px 15px 60px 15px;
    }
    .tab-content h3{
        margin: 30px 0px 20px 0px;
        font-size: 2.125rem;
        padding:0px 10px 0px 0px;
    }
    .tab-content p{
        margin: 0px 0px 0px 0px;
        font-size: 1.1075rem;
        padding:0px 10px 0px 0px;
    }
    .btn-net{
        margin:30px 0px 0px 0px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    #recent-posts .col-xl-3{
        margin-bottom: 20px;

    }
    .nav-fill .nav-item, .nav-fill > .nav-link {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .welcome-text{
        order: 1;
    }
    .welcome-image{
        order: 2;
        padding-top: 30px;
        text-align: center;
    }

}

