img, svg{ max-width: 100%; height: auto; }
#external-links{ padding-top: 100px; }
#external-links{ padding-bottom: 60px; }
.abox-2-holder{
    background-color: #fff;
        border: 1px solid #eee;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px;
    }
#service{ padding-top: 100px; }
#service{ padding-bottom: 60px; }
.welcome-background{ padding-top: 100px }
.welcome-background{ padding-bottom: 60px; }
.welcome-read-more-text{ display: none; }
.welcome-background{ background-color: #f8f9fb; }
#recent-posts{
    background-color: #f8f9fb;
    padding-top: 100px;
    padding-bottom: 100px;
}
.title-posts{ padding: 60px;}
#recent-posts .posts-card{
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

#recent-posts .posts-card img{
    border-radius: 5px 5px 0 0;
}

#recent-posts .posts-card-data{
    padding: 20px;
}
#larkin-network{padding-top: 100px;}
#larkin-network{padding-bottom: 60px;}
.pills-network{padding-bottom: 40px;}
.btn-net{
    color: #fff;
    background-color: #00a3c8;
    border-color: #00a3c8;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid transparent;
    border-radius: 6px;
    margin-top: 50px;
}
#university{padding-top: 150px;}
#university{padding-bottom: 60px;}
#university{color: #fff;}
.background-univ{
    background-image: url(https://jthemes.net/themes/html/medservices/files/images/banner-2.jpg);
    position: relative;
    z-index: 1;
    background-attachment: fixed !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-univ{
    text-align: center;
    margin-top: -80px;
    position: relative;
    z-index: 999;
}
.btn-univ{
    color: #ffffff;
    background-color: transparent;
    border-color: #fff;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid;
    border-radius: 6px;
    transition: all 450ms ease-in-out;
    margin-top: 50px;
}
.btn-univ:hover{background: transparent;}
#education{padding-top: 100px;}
#education{padding-bottom: 60px;}
.img-edu{
    height: auto;
    max-width: none;
    display: inline-block;
}
.links{padding-top: 40px;}