img, svg{ max-width: 100%; height: auto; }

h1,h2,h3,h4,h5,h6{
    font-family: "Lato", sans-serif;
}
body {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 300;
}

#footer{
    background-image: url(../images/footer-bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #c5d1dc;
}
.p-footer{
    font-size: 0.95rem;
    margin-top: 20px;
}
.location{
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color:white;
}
.e-mail:link{
    color: white;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: underline;
}
.e-mail:hover{
    color: white;
}
.foo-bottom{
    border-top: 1px solid #16739d;
    margin-top: 20px;
    padding-top: 40px;
}
.copy{
    color:white;
    font-weight: 400;
}
.social-ico{
    border: 2px solid  #c5d1dc;
    border-top-color: rgb(197, 209, 220);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(197, 209, 220);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(197, 209, 220);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(197, 209, 220);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: #c5d1dc;
    display: block;
    background-color: transparent;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 34px!important;
    margin-right: 4px;
    border-radius: 100%;
    text-align: center;
}
.social ul{
    padding-left: 0;
    margin: 0 auto 0;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}
.social li{
    width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
    margin: 0 0 8px 0;
    padding: 0;
}
.about-links{
    color: #c5d1dc;
    font-weight: 400;
    list-style: none;
    padding: 0px
    
}
.about-links li{
    margin: 0 0 9px 0;
    vertical-align: top;

}
.about-links a:hover{
    color: #c5d1dc;;
}
.header-top{
    display: block;
    width: 100%;
    height: 40px;
    margin: 0px auto;
    padding: 0px 0px;
    min-width: 320px;
    background-color: #00a3c8;
}
.logo-header{
    padding: 16px 0px 0px 0px;
    margin: 0;
    float: left;
}
.menu-header{
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    background: #ffffff !important;
    max-width: 1140px;
    margin: 0 auto;
}
.menu-header .navbar{
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    width: 100%;
}

.menu-header .navbar .navbar-brand{
    flex: 1;
}

.menu-header .navbar .call-iphone{
    display: none;
    font-size: 24px;
    width: 30px;
    text-align: right;
}

.main-menu{
    color: #fff;
    font-size: 14.5px;
    font-weight: 400;
    padding: 0;
    float: right;
    display: block;
    text-align: left;
}
.main-menu ul{
    text-align: left;
    margin: 0 auto 0 auto;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    
}
.main-menu li { 
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    float: left;

}
.main-menu a{
    display: block;
    padding: 20px 25px 10px 18px;
    line-height: 50px;
    text-decoration: none;
    position: relative;
    color: #666;
    background-color: transparent;
    font-size: 14.5px;
    font-weight: 400;
}
.mk-appointment a{
    background-color:#00a3c8;
    color: #fff!important;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 0px;
    -webkit-border-radius: 4px;
}

.drop-services{
    background-color: transparent;
    border: none;
}
.drop-services:hover{
    background-color: transparent;
    color:  #666;
}
.header-info{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}
.topleft{
    width: 50%;
    float: left;
    padding-left: 15px;
}
.topleft span{
    color:white;
    font-size: 12px;
    line-height: 40px;
    margin-right: 9px;
}
.topleft span i{
    position: relative;
    color: white;
    font-size: 14px;
    top: -1px;
    margin-right: 7px;
    margin-left: 5px;
}
.topleft a{
    color: white;
    font-size: 13px;
    line-height: 40px;
}
.topright{
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 15px;
}
.topright a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color:white;
    font-size: 14px;
    float: right;
}

.navbar-toggler{
    padding: 0;
    border: none;
    outline: none !important;
}

.navbar-toggler .navbar-toggler-icon{
    background-image: url("../images/menu.svg");
}

.close-menu-wrapper{
    display: none;
}

.movil-over-color{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 8888;
}

@media (max-width: 991px){
    .close-menu-wrapper{
        display: block;
        position: relative;
        text-align: right;
        margin-bottom: 0;
    }
    .close-menu-icon{
        display: inline-block;
        width: 40px;
        height: 54px;
        background: #fff;
        position: absolute;
        z-index: 999999;
        box-shadow: 6px 0 5px rgba(0, 0, 0, 0.17);
        cursor: pointer;
        padding: 11px;
        line-height: 30px;
    }
    .logo-header{
        padding: 10px;
    }
    .menu-header .navbar .call-iphone{
        display: block;
    }
    .menu-header .navbar .navbar-brand{
        text-align: center;
        margin-left: 1rem;
        display: inherit;
    }
    .menu-header .navbar .navbar-brand img{
        margin: 0 auto;
    }
    .menu-header{
        padding-bottom: 0;
    }
    .main-menu li{
        width: 100%;
        display: inline-block;
    }
    .main-menu li a{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .header-top{
        display: none;
    }
    .call-iphone a{
        font-size: 20px;
        color: #a9a9a9;
    }
    #navbarSupportedContent{
        display: block !important;
        width: 250px;
        padding: 0;
        box-shadow: 6px 0 5px rgba(0, 0, 0, 0.17);
        position: fixed;
        top: 0;
        left: -350px;
        z-index: 99999;
        height: 100%;
        background: #ffffff;
        transition: all .5s ease;
    }
    #navbarSupportedContent.show{
        left: 0;
    }
    #navbarSupportedContent.show ul a{
        margin: 0;
        padding: 10px 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.13);
        line-height: 34px;
        text-align: left;
    }
    #navbarSupportedContent.show ul li:first-child a{
        border-top: none;
    }
    li.mk-appointment a{
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    #navbarSupportedContent.show .dropdown-menu{
        border: none;
        margin: 0 !important;
        padding: 0 !important;
    }
    #navbarSupportedContent.show .dropdown-menu a{
        padding-left: 30px;
        font-size: 13px;
    }
}

@media (max-width: 767px){
    .header-top{
        display: none;
    }
    .call-iphone a{
        font-size: 20px;
        color: #a9a9a9;
    }
    .menu-header .navbar .navbar-brand img{
        margin: 0px auto;
    }
    .menu-header .navbar .navbar-brand{
        text-align: center;
        margin-left: 1rem;
        display: inherit;

    }

}

