img, svg{ max-width: 100%; height: auto; }

#external-links{ 
    padding-top: 100px;
    padding-bottom: 60px;
 }
.h4-emergency{
    margin-top:50px;
    margin-left:30px;
    color: rgb(5, 165, 214);
}
.clock{
    margin-right: 15px;
    margin-left:30px;
    width: 40px;
    fill: rgb(5, 165, 214);
}

.abox-2-holder{
    background-color: #fff;
        border: 1px solid #eee;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px;
    }

#service{ 
    padding-top: 100px;
    padding-bottom: 60px;
 }
 .title-services{padding-bottom: 60px;}
 .h3-title{margin-bottom: 20px;}

.welcome-background{ 
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #f8f9fb;
 }
.welcome-read-more-text{ display: none; }

#recent-posts{
    background-color: #f8f9fb;
    padding-top: 100px;
    padding-bottom: 100px;
}
.title-posts{ padding-bottom: 60px;}
#recent-posts .posts-card{
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

#recent-posts .posts-card img{
    border-radius: 5px 5px 0 0;
}

#recent-posts .posts-card-data{
    padding: 20px;
}

#larkin-network{
    padding-top: 100px;
    padding-bottom: 60px;
}
.pills-network{padding-bottom: 40px;}
.btn-net{
    color: #fff;
    background-color: #00a3c8;
    border-color: #00a3c8;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid transparent;
    border-radius: 6px;
    margin-top: 50px;
}
#university{
    padding-top: 150px;
    padding-bottom: 60px;
    color: #fff;
}
.background-univ{
    background-image: url(https://jthemes.net/themes/html/medservices/files/images/banner-2.jpg);
    position: relative;
    z-index: 1;
    background-attachment: fixed !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-univ{
    text-align: center;
    margin-top: -80px;
    position: relative;
    z-index: 999;
}
.btn-univ{
    color: #ffffff;
    background-color: transparent;
    border-color: #fff;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid;
    border-radius: 6px;
    margin-top: 50px;
}
.btn-univ:hover{
    background: white;
        color: black;
        border-color: #fff;
}

#education{
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 160px;
    }    
.img-fluid{max-width: none;}
.links{padding-top: 40px;}
.link-edu{
    margin-bottom: 10px;
    display: inline-block;
}

#careers{
    width: 100%;
    overflow: hidden;
    background-color: #00a3c8;
    color: white;
    }
    .btn-careers{color: #ffffff;
        background-color: transparent;
        border-color: #fff;
        font-size: 0.915rem;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0.25px;
        padding: 12px 24px;
        border: 2px solid;
        border-radius: 6px;
        transition: all 450ms ease-in-out;
        margin-top: 50px;
    }
    .btn-careers:hover{
        background: white;
        color: black;
        border-color: #fff;
    }
.block-careers{
    padding-right: 30px;
    padding-left: 30px;
}
.h3-careers{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 2.625rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;
}
.span-car{
    font-size: 0.825rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

#patients{
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 60px;
    color: white;
    position: relative;
    }    
    .block-patients{
        background-color: #00a3c8;
        padding: 50px 60px;
        border-radius: 6px;
        position: relative;
        margin-right: -100px;
        z-index: 3;
        color: #fff;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
    }
    .h4-patients{
        margin-bottom: 15px;
        color: white;
    }
    .table-patients{
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }
    .text-right{
        font-size: 16px;
        padding: 18px 0;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        border-top: none;
        border-bottom: 1px dashed rgba(255, 255, 255, .6);
    }
    .table td{
        font-size: 16px;
        padding: 18px 0;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        border-top: none;
        border-bottom: 1px dashed rgb(255 255 255 / 75%);
    }
    .img-patients{
        background-image: url(https://jthemes.net/themes/html/medservices/files/images/info-8.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        left: 50%;
    }
