img, svg{ max-width: 100%; height: auto; }
#service{ padding-top: 100px; }
#service{ padding-bottom: 60px; }
.welcome-background{ padding-top: 100px }
.welcome-read-more-text{ display: none; }
.welcome-background{ background-color: #f8f9fb; }