img, svg{ max-width: 100%; height: auto; }

h1,h2,h3,h4,h5,h6{
    font-family: "Lato", sans-serif;
}
body{
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 300;
}

#external-links{ 
    position: relative;
    margin-top: -120px;
    z-index: 99;
    padding-bottom: 160px;
 }
.h4-emergency{
    margin-top:50px;
    margin-left:30px;
    color: rgb(5, 165, 214);
}
.clock{
    margin-right: 15px;
    margin-left:30px;
    width: 40px;
    fill: rgb(5, 165, 214);
}

.abox-2-holder{
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    max-width: 1110px;
    margin: 0 auto;
    padding: 40px;
}
.abox-2-holder h5{
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #004861;
    font-size: 1.25rem;
    margin-bottom: 30px;
    line-height: 1;
}
.abox-2-holder p{
    font-size: 0.925rem;
    margin-bottom: 0;
}
.btn-external-links{
    font-size: 0.78125rem;
    line-height: 1;
    padding: 10px 20px;
    color: #fff;
    background-color: #00a3c8;
    border-color: #00a3c8;
    font-weight: 400;
    letter-spacing: 0.25px;
    border: 2px solid transparent;
    margin-top: 25px;
}
.btn-external-links:hover{
    background-color: #1c859c;
    color: white;
}

#service{ 
    padding-top: 160px;
    padding-bottom: 160px;
 }
 .title-services{
     padding-bottom: 60px;
    }
.title-posts{
    color: #888;
    padding: 0 20%;
    margin-bottom: 0;
    font-size: 1rem;
    text-align: center;
}
 .h3-title{
     margin-bottom: 20px;
     font-weight: 700;
     letter-spacing: -0.25px;
     color: #004861;
     font-size: 2.625rem;
     line-height: 1;
    }
 #service h5{
    font-size: 1.05rem;
    line-height: 1;
    font-weight: 900;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #004861;
}
#service p{
    font-size: 0.925rem;
    margin-bottom: 0;
}
#service a:hover{
    color:transparent;
}

.welcome-background{ 
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #f8f9fb;
 }
.welcome-read-more-text{ 
    display: none; 
}
.welcome-title{
    font-size: 0.825rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
    color: #00a3c8;
}
#welcome h2{
    margin-bottom: 30px;
    font-size: 2.625rem;
    color: #004861;
    font-weight: 700;
    letter-spacing: -0.25px;

}
#welcome a{
    color:#00a3c8;
}
#welcome a:hover{
    color: #00a3c8;
}

.ceo-block{
    margin-top: 60px;
}
.ceo-info{
    margin-top: 10px;
    font-size: 0.75rem;
}
.ceo-info h5{
    font-size: 0.90rem;
    margin-top: 0px;
    margin-bottom: 5px;
}
.ceo-info p{
    margin-bottom: 5px;
}
.ceo-img{
    width: 60px;
    height: auto;
}

#recent-posts{
    background-color: #f8f9fb;
    padding-top: 100px;
    padding-bottom: 100px;
}
#recent-posts .posts-card{
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    min-height: 100%;
}

#recent-posts .posts-card img{
    border-radius: 5px 5px 0 0;
}

#recent-posts .posts-card-data{
    padding: 10px;
}
.posts-links{
    color: #004861;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;
    margin-bottom: 15px;
    font-size: 1.1875rem;
    display: inline-block;
}
.posts-links:hover{
    color:#00a3c8;
}
.posts-read-more-text{
    display: none;
}

#larkin-network{
    padding-top: 100px;
    padding-bottom: 160px;
}
.pills-network{
    margin:0px auto 60px;
    text-align: center;
}
.btn-net{
    color: #fff;
    background-color: #00a3c8;
    border-color: #00a3c8;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid transparent;
    border-radius: 6px;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
}
.pills-network a{
    background-color: transparent;
    border: 1px solid transparent;
    color: rgb(167, 166, 166);
    font-size: 1rem;
    font-weight: 400;
    padding: 18px 35px;
    margin-right: 15px;
    border-radius: 6px
}
.pills-network a:hover{
    background-color:  rgba(223, 217, 217, 0.404);
    color:rgb(136, 135, 135);
    border: 1px solid transparent;
    border-radius: 6px;
}
.pills-network a.active{
    background-color: #00a3c8!important;
    border-color: #00a3c8;
    color: #fff;
    border-radius: 6px;
}
.tab-pane h3{
    color: #004861;
    margin-bottom: 30px;
    font-size: 2.625rem;
    font-weight: 700;
    letter-spacing: -0.25px;
    padding-right: 30px;
    padding-left: 30px;
}
.tab-pane p{
    margin-bottom: 30px;
    font-size: 1rem;
    padding-right: 30px;
    padding-left: 30px;
}
#university{
    padding-top: 200px;
    padding-bottom: 60px;
    color: #fff;
}
.background-univ{
    background-image: url(https://jthemes.net/themes/html/medservices/files/images/banner-2.jpg);
    position: relative;
    z-index: 1;
    background-attachment: fixed !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-univ{
    text-align: center;
    margin-top: -80px;
    position: relative;
    z-index: 999;
}
.btn-univ{
    color: #ffffff;
    background-color: transparent;
    border-color: #fff;
    font-size: 0.915rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 12px 24px;
    border: 2px solid;
    border-radius: 6px;
}
.btn-univ:hover{
    background: white;
        color: black;
        border-color: #fff;
}
#university h3{
    font-weight: 700;
    letter-spacing: -0.25px;
    font-size: 2.75rem;
}
#university p{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 1rem;
}

#education{
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 160px;
}    
.img-fluid{
    max-width: none;
}
.links{
    padding-top: 40px;
}
.link-edu{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
    color: #004861;
    
}
.link-edu:hover{
    color: #00a3c8;
}
#education h6{
    font-size: 0.825rem;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
    color: #00a3c8;
}
#education h2{
    margin-bottom: 30px;
    font-size: 2.625rem;
    color: #004861;
    font-weight: 700;
    letter-spacing: -0.25px;
}
#education p{
    margin-bottom: 30px;
    font-size: 1rem;
}
#education i{
    color: #004861;    
}

#careers{
    width: 100%;
    overflow: hidden;
    background-color: #00a3c8;
    color: white;
    }
    .btn-careers{color: #ffffff;
        background-color: transparent;
        border-color: #fff;
        font-size: 0.915rem;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 0.25px;
        padding: 12px 24px;
        border: 2px solid;
        border-radius: 6px;
        transition: all 450ms ease-in-out;
        margin-top: 50px;
    }
    .btn-careers:hover{
        background: white;
        color: black;
        border-color: #fff;
    }
.block-careers{
    padding-right: 30px;
    padding-left: 30px;
}
.h3-careers{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 2.625rem;
    font-weight: 700;
    letter-spacing: -0.25px;
}
.span-car{
    font-size: 0.825rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

#patients{
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 60px;
    color: white;
    position: relative;
    }    
    .block-patients{
        background-color: #00a3c8;
        padding: 50px 60px;
        border-radius: 6px;
        position: relative;
        margin-right: -125px;
        z-index: 3;
        color: #fff;
        font-weight: 300;
        font-size: 1rem;
    }
    .h4-patients{
        margin-bottom: 25px;
        color: white;
        font-size: 1.75rem;
        font-weight: 700;
        letter-spacing: -0.25px;
    }
    .links-patients{
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        padding: 25px 0px 25px 0px;
    }
    .links-patients a{
        color:white;
        margin-bottom: 15px;
        display:inline-block;
    }
    .img-patients{
        background-image: url(https://jthemes.net/themes/html/medservices/files/images/info-8.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 60%;
        left: 40%;
    }
.links{color: white;}
.links:hover{color: white;}

#footer{
    background-image: url(https://jthemes.net/themes/html/medservices/files/images/footer-bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #c5d1dc;
}
.p-footer{
    font-size: 0.95rem;
    margin-top: 20px;
}
.location{
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color:white;
}
.e-mail:link{
    color: white;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: underline;
}
.e-mail:hover{
    color: white;
}
.foo-bottom{
    border-top: 1px solid #16739d;
    margin-top: 20px;
    padding-top: 40px;
}
.copy{
    color:white;
    font-weight: 400;
}
.social-ico{
    border: 2px solid  #c5d1dc;
    border-top-color: rgb(197, 209, 220);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(197, 209, 220);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(197, 209, 220);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(197, 209, 220);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: #c5d1dc;
    display: block;
    background-color: transparent;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 34px!important;
    margin-right: 4px;
    border-radius: 100%;
    text-align: center;
}
.social ul{
    padding-left: 0;
    margin: 0 auto 0;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}
.social li{
    width: auto !important;
    display: inline-block !important;
    vertical-align: top;
    clear: none !important;
    margin: 0 0 8px 0;
    padding: 0;
}
.about-links{
    color: #c5d1dc;
    font-weight: 400;
    list-style: none;
    padding: 0px
    
}
.about-links li{
    margin: 0 0 9px 0;
    vertical-align: top;

}
.about-links a:hover{
    color: #c5d1dc;;
}
.header-top{
    display: block;
    width: 100%;
    height: 40px;
    margin: 0px auto;
    padding: 0px 0px;
    min-width: 320px;
    background-color: #f2f2f2;
}
.logo-header{
    padding: 16px 0px 0px 0px;
    margin: 0;
    float: left;
}
.menu-header{ 
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
}
.main-menu{
    color: #fff;
    font-size: 14.5px;
    font-weight: 400;
    padding: 0;
    float: right;
    display: block;
    text-align: left;
}
.main-menu ul{
    text-align: left;
    margin: 0 auto 0 auto;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    
}
.main-menu li { 
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    float: left;

}
.main-menu a{
    display: block;
    padding: 20px 32px 10px 18px;
    line-height: 50px;
    text-decoration: none;
    position: relative;
    color: #666;
    background-color: transparent;
    font-size: 14.5px;
    font-weight: 400;
}
.mk-appointment a{
    background-color:#00a3c8;
    color: #fff!important;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 0px;
    -webkit-border-radius: 4px;
}
.drop-services{
    background-color: transparent;
    border: none;
}
.drop-services:hover{
    background-color: transparent;
    color:  #666;
}
.header-info{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}
.topleft{
    width: 50%;
    float: left;
    padding-left: 15px;
}
.address span{
    color:#747373;
    font-size: 12px;
    line-height: 40px;
    margin-right: 9px;
}
.address span i{
    position: relative;
    color: #747373;
    font-size: 14px;
    top: -1px;
    margin-right: 7px;
    margin-left: 5px;
}
.address a{ 
    color: #747373;
    font-size: 13px;
    line-height: 40px;
}
.topright{
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 15px;
}
.topright a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #747373;
    font-size: 14px;
    float: right;
}
#banner{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
}
.banner-section{
    background-color: #00a3c8;
}
.img-banner{
    background-image: url(https://jthemes.net/themes/html/medservices/files/images/hero-12-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45%;
    left: 55%;
}
.banner-section .container{
    position: relative;
    z-index: 3;
}
.banner-left{
    color:white;
    padding-right: 40px;
    padding-left: 20px;
}
.banner-left h5{
    font-size: 0.85rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.banner-left h2{
    font-size: 4rem;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.links-banner a{
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.25rem;
}
.links-banner a:hover{
    background-color: transparent;
    color: white;
}
#banner-marketing{
    background-image: url("../images/degradado.jpg");
    background-color: #00a3c8;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.marketing{
    color: white;
}
.marketing h2{
    line-height: 1.25;
    letter-spacing: 0;
    margin-bottom: 40px;
    font-size: 3.25rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.links-banner p{
    margin-bottom: 5px;
}
.marketing a{
    font-size: 1rem!important;
}